@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #9DB5FA, #7C8FC6);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #3d4d7c;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #253D85;
    text-align: center;
    text-shadow: 1px 1px 2px #1f316893;
}

h2 {
    color: #537DFB;
}

p {
    text-align: justify;
}
